/* PARTE SUPERIOR */
body {
  background-color: #f2f6f8;
}

h1 span {
  color: #1489fd;
}
.titulo {
  margin-top: 10px;
  text-align: center;
}

.refreshButton {
  background-color: #1c7ab8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  opacity: 0.9;
  transition: 0.3s;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid #0a436b;
}

.refreshButton:hover {
  background-color: #276792;
  opacity: 1;
}
