.line {
  margin: 15px 0;
  border-top: 1px solid rgb(170, 163, 163);
}

.container-news {
  padding: 0rem 8rem;
}

/* UNIQUE NEWS */
.titulo-noticia {
  word-wrap: break-word;
  margin-top: 0;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

/* .link {
} */

button {
  font-size: 16px;
}
.button-upload {
  background-color: #1c7ab8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  opacity: 0.9;
  transition: 0.3s;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid #0a436b;
}
.button-upload:hover {
  background-color: #276792;
  opacity: 1;
}

input {
  height: 25px;
  margin: 7px 0;
}

input[type="text"]:focus {
  background-color: rgb(214, 233, 240);
}

textarea {
  height: 80px;
  resize: none;
}
textarea[type="text"]:focus {
  background-color: rgb(214, 233, 240);
}

.parrafo {
  text-align: justify;
  word-wrap: break-word;
}

/* FORMULARIO */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.etiqueta {
  display: block;
}

.comentario-error {
  font-size: 20px;
  color: rgb(233, 13, 13);
  background-color: rgb(248, 196, 196);
  border-radius: 4px;
}

/* MEDIA REPONSIVE */
@media (min-width: 1368px) {
  .container-news {
    padding: 0rem 15rem;
  }
}

@media (max-width: 800px) {
  .container-news {
    padding: 0rem 2rem;
  }
}
